/* Skeleton.css */
.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.5s infinite ease-in-out;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }

    50% {
        background-color: #f0f0f0;
    }

    100% {
        background-color: #e0e0e0;
    }
}

.skeleton-text {
    height: 1em;
    margin-bottom: 0.5em;
    width: 100%;
}

.skeleton-title {
    height: 2em;
    margin-bottom: 1em;
    width: 60%;
}

.skeleton-rect {
    width: 100%;
    height: 200px;
    /* Adjust as needed */
    margin-bottom: 1em;
    border-radius: 8px;
}

.skeleton-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Card Skeleton */
.common-skeleton-card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.skeleton-card-img {
    width: 100%;
    height: 180px;
    border-radius: 4px;
}

.skeleton-btn {
    width: 100px;
    height: 36px;
    border-radius: 4px;
}